.dockerignore
*.png
*.toml
docker
Dockerfile*

.editorconfig
.eslintignore
.gitignore
.prettierignore
LICENSE
README
.eslintcache
*.lock
yarn-error.log

package.json
**/node_modules
/dist
/build
/config
/scripts
**/*.svg
.DS_Store
